{% from "bike/bike.njk" import getBike %}
{% static "data.json" as items %}

<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bikes</title>
  </head>
  <body>

    {% for item in items %}
      {{ getBike(item) }}
    {% endfor %}

  </body>
</html>
