.bikes {
  border-radius: 0px 20px 20px 20px;

  &__tabs {
    display: flex;
  }

  &__tab {
    padding: 20px 24px;
    border-radius: 20px 20px 0px 0px;
    background-color: #d9d9d9;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
  }

  &__content {
    width: 100%;
    max-width: 850px;
    padding: 40px 0;
    border-radius: 0px 20px 20px 20px;
    background-color: #fff;
  }

  &__description {
    display: flex;
    column-gap: 70px;
    padding-right: 60px;
    margin-bottom: 50px;
  }

  &__description-img {
    flex-shrink: 0;
    overflow-x: hidden;

    img {
      margin-left: -65px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  &__caption {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
  }

  &__text {
    margin-bottom: 16px;
  }

  &__accordion-title {
    display: none;
  }

  &__features-wrapper {
    padding: 0 60px;
  }

  &__features {
    column-count: 2;
    margin-bottom: 30px;
  }

  &__feature {
    margin-bottom: 16px;
  }

  &__add {
    display: flex;
    column-gap: 24px;
  }
}

.inp {
  width: 100%;
  max-width: 350px;
  padding: 14px 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
}

.btn {
  width: 128px;
  padding: 14px 24px;
  border-radius: 16px;
  border: none;
  color: #fff;
  background-color: #3922c5;
  cursor: pointer;
}

.my-validation-error {
  input[type='text'] {
    outline: solid red 1px;
  }
}

.my-accordion-active {
  svg {
    transform: rotate(180deg);
  }
}

.my-tabs-active {
  color: #3922c5;
  background-color: #fff;
}

@media (max-width: 600px) {
  .bikes {
    &__tabs {
      display: none;
    }

    &__accordion-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      svg {
        transition: transform 0.3s;
      }
    }

    &__description {
      flex-direction: column;
    }

    &__features {
      column-count: auto;
    }

    &__add {
      flex-direction: column;
    }
  }
}
