{% macro getBikes(items) %}
  <button class="ggg">qweqweqweqwe</button>

  <section class="bikes">

    <div class="bikes__tabs" id="tabs">
      {% for item in items %}
        <div class="bikes__tab">{{item.tab}}</div>
      {% endfor %}
    </div>

    <div class="bikes__tabs-content" id="content">
      {% for item in items %}

        <div class="bikes__content">
          <div
            class="bikes__content-img">{# <img src="" alt="{{item.title}}"> #}
          </div>
          <div class="bikes__content-text">
            <h2 class="bikes__title">{{item.title}}</h2>
            <p class="bikes__text">{{item.text.p1}}</p>
            <p class="bikes__text">{{item.text.p2}}</p>
          </div>

          <hr>

          <h3 class="bikes__caption">Характеристики</h3>

          <ul class="bikes__features {{ 'bikes__features_bullet' if item.featuresMod }}">
            {% for feature in item.features %}
              <li class="bikes__feature">{{ feature }}</li>
            {% endfor %}
          </ul>

          <h3 class="bikes__caption">Добавить характеристику</h3>
          <div class="bikes__add">
            <input class="inp" type="text" placeholder="Алюминиевый сплав">
            <button class="btn">Добавить</button>
          </div>

          <div class="bikes__confirm">
            <button class="btn">Окей</button>
            <button class="btn btn_cancel">Отмена</button>
          </div>
        </div>

      {% endfor %}
    </div>

  </section>

{% endmacro %}
