.bikes {
  &__tabs {
    display: flex;
    padding: 15px;
    column-gap: 15px;
  }

  &__tab {
    padding: 15px;
    cursor: pointer;

    outline: solid 1px red;
  }

  &__content {
    padding: 15px;
  }

  &__content-item {
    padding: 15px;

    outline: solid 1px red;
  }
}

.my-tabs-active {
  background-color: rgb(242, 245, 193);
}

.accordion {
  &__title {
    // display: none;
  }

  &__wrapper {
    outline: green 1px solid;
  }
}
